"""Launch file for {{ pkg_name }}."""
import os
from ament_index_python.packages import get_package_share_directory
from launch import LaunchDescription
from launch_ros.actions import Node


def generate_launch_description():
    config = os.path.join(
        get_package_share_directory('{{ pkg_name }}'),
        'config',
        'controllers.yaml',
    )

    arm_controller_node = Node(
        package='{{ pkg_name }}',
        executable='{{ pkg_name }}_node',
        name='{{ node_name }}',
        parameters=[config],
        output='screen',
        emulate_tty=True,
    )

    return LaunchDescription([
        arm_controller_node,
    ])
